### Load Pandas

In [23]:
import numpy as np
import pandas as pd

### Pandas Basic

In [24]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]],columns=['A','B','C'],index=['w','x','y','z'])

In [25]:
df

    A   B   C
w   1   2   3
x   4   5   6
y   7   8   9
z  10  11  12

In [26]:
df.head(2)

   A  B  C
w  1  2  3
x  4  5  6

In [27]:
df.tail(3)

    A   B   C
x   4   5   6
y   7   8   9
z  10  11  12

In [28]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [29]:
df.index.to_list()

['w', 'x', 'y', 'z']

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, w to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
 2   C       4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

In [31]:
df.describe()

               A          B          C
count   4.000000   4.000000   4.000000
mean    5.500000   6.500000   7.500000
std     3.872983   3.872983   3.872983
min     1.000000   2.000000   3.000000
25%     3.250000   4.250000   5.250000
50%     5.500000   6.500000   7.500000
75%     7.750000   8.750000   9.750000
max    10.000000  11.000000  12.000000

In [32]:
df.shape

(4, 3)

In [33]:
df.size

12

In [34]:
df.nunique()

A    4
B    4
C    4
dtype: int64

In [35]:
df['A'].unique()

array([ 1,  4,  7, 10])

### Loading data from Files